<!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Testimonials</h2>
          <p></p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                  <h3>semion3</h3>
                  {{!-- <h4>Ceo &amp; Founder</h4> --}}
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        I would like to say I have not seen such professional ethics Khan_002 has shown to be honest. Excellent communication, amazing attitude and willing to work according to your requirements. I have got what I asked for and I am very satisfied with khan and his team. One must purchase his services keeping in mind that they will get an amazing service. I am very happy and thankful to him. I will surely do more business in the coming months.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                  <h3>kamalwana</h3>
                  {{!-- <h4>Freelancer</h4> --}}
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    I am very happy with the 7 days Trial. I got 10 sales within minutes of him listing 2 products. Thank you so much for being very patient with me and explaining all the steps in great details and thank you for addressing my concerns in a timely manner. Looking forward an ongoing Business relationship.

                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                  <h3>Olvinaorcas</h3>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                   I am really happy to find such an amazing talent on fiver. Khan finds good products for my store and sales are also coming on the new account. I get profit from the very first week. Great experience in Dropshipping. He made it possible for me to earn a big profit on Amazon. Khan and his team are super awesome with great knowledge highly recommended for Amazon dropshipping.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->