
{{>toplayout}}
    {{>header}}
    {{>slider}}
    <!-- ======= Hero Section ======= -->
  {{!-- <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Grow your business with Businesswind</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">We will automize you Amazon Dropshiping Store</h2>
          <div data-aos="fade-up" data-aos-delay="800">
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">

          <img src="https://c.neh.tw/thumb/f/720/d36dc7a909994e828533.jpg" class="img-fluid animated" alt="">
          <!-- <img src="https://img.freepik.com/free-vector/it-specialist-identify-user-across-mobile-laptop-tablet-cross-device-tracking-capability-cross-device-using-concept-pinkish-coral-bluevector-isolated-illustration_335657-2522.jpg" class="img-fluid animated" alt=""> -->
        </div>
      </div>
    </div>

  </section><!-- End Hero --> --}}
  <main class="main" style="">
  {{>services}}
  {{>testimonial}}
  {{>faq}}

</main>
  
    {{>footer}}
{{>bottomlayout}}